In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
# import warnings
# warnings.filterwarnings("ignore")

In [ ]:
df_chunk = pd.read_csv('train.csv', chunksize = 10000000, low_memory = False)
# chunk_list = []
count = 0
chunks = []
for chunk in df_chunk:
    #print(chunk.head(25))
#     print(chunk.describe())
#     print(chunk.isnull().sum())
    chunks.append(pd.DataFrame(chunk))
    count += 1
    break
# print(count)
# df_concat = pd.concat(chunk_list)

In [18]:
pd.DataFrame(df_chunk.dtypes()

AttributeError: 'TextFileReader' object has no attribute 'dtypes'

In [6]:
print(chunks[0].describe())

            key fare_amount          pickup_datetime pickup_longitude  \
count   5000000     5000000                  5000000          5000000
unique  4999998        4030                  3697260           172896
top         key         6.5  2014-01-30 20:47:00 UTC              0.0
freq          3      243443                       12            95177

       pickup_latitude dropoff_longitude dropoff_latitude passenger_count
count          5000000           4999965          4999965         5000000
unique          207989            221927           269098              13
top                0.0               0.0              0.0               1
freq             94870             94965            94689         3458113

In [4]:
print(chunks[0].isnull().sum())

key                   0
fare_amount           0
pickup_datetime       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude    71
dropoff_latitude     71
passenger_count       0
dtype: int64

In [16]:
chunks[0].head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2010-10-20 23:26:26.0000003,4.5,2010-10-20 23:26:26 UTC,-73.98691,40.739538,-73.991381,40.745614,2
1,2009-12-30 10:56:00.00000075,4.1,2009-12-30 10:56:00 UTC,-73.961572,40.760283,-73.957438,40.769387,5
2,2012-07-20 11:24:00.00000022,6.1,2012-07-20 11:24:00 UTC,-73.979437,40.746517,-73.984195,40.732116999999995,1
3,2011-05-31 11:29:00.000000136,4.9,2011-05-31 11:29:00 UTC,-73.964097,40.792508000000005,-73.976422,40.785767,1
4,2010-05-25 17:57:00.000000145,6.5,2010-05-25 17:57:00 UTC,-74.003943,40.72567,-73.988915,40.74837,1

In [14]:
plot1 = chunks[0]['pickup_longitude']
plot1.plot.hist(grid=True, bins=20, rwidth=0.9, color='#607c8e')
plt.xlabel('pickup longitude')
plt.grid(axis='y', alpha=0.75)

TypeError: no numeric data to plot